







#contenedorProducto1,
#contenedorProducto2 {
    display: inline-block;
    text-align: center;
    margin: 10%;
    top: 20%;
}

#contenedor-cantidad {
    display: inline-block;
}

#contenedorProducto1 {
    width: auto;
}

#contenedorProducto1 img {
    width: 25%;
}

#contenedorProducto2 img {
    width: 35%;
}